/* contact */
.contact-background {
	background-image: url(../img/contact/contact.png);
    /* height: calc(100vh); */
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
}
.contact-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
/* */
.contact-info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* height: 50vh; */
    margin: 64px auto;
    
}
.contact-info .coloumn{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 240px

}
.contact-info .coloumn b{
    padding-right: 8px;

}
.contact-info .coloumn .location {
	font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	color: #fa5c17;
	padding-bottom: 24px;
	display: flex;
}
.circle {
    width: 16px;
    height: 16px;
    background: #fa5c17;
    border-radius: 50%;
    margin: auto 8px;
    padding: 4px 8px;
}

.contact-info .coloumn .address, 
.contact-info .coloumn .phone{
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	color: #000000;
	padding-bottom: 8px;
}
.email {
	display: flex;
	justify-content: center;
	align-content: center;
    align-items: center;
    margin-top: 64px;
}
.email span {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fa5c17;
	padding-left: 4px;
}
.email a {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	padding-left: 4px;
}
.contact-form {
	width: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.contact-form .main-row{
	display: flex;
	padding-top: 32px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contact-form .main-row.btn{
	justify-content: center !important;
}
.contact-form input {
	border-radius: 20px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
	width: 300px;
	outline: none;
}
.contact-form  input::placeholder{
	color: #9b9b9b;
	font-size: 14px;
}
.contact-form textarea{
	width: 100%;
    height: 132px;
    border-radius: 15px;
    border: none;
	padding: 8px 8px;
	resize: none;
	box-sizing: border-box;
	outline: none;
}
.contact-post{
	padding: 8px 32px;
	background: #ff4d00;
	border: 5px solid #ef3200;
	border-radius: 30px;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 32px;
	outline: none;
}
.contact-post:hover,
.contact-post:active {
	background: #ffffff;
	color: #ff4d00;
}
.main-row.btn {
	box-shadow: none;
}
/* @media screen and (min-width:818px) and (max-width: 1520px) {
	.contact-background {
		background-image: none;
	}
} */

@media screen and (max-width: 818px){
	.contact {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.contact-background {
		background-image: none;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.contact-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto 32px;
	}
	.contact-info .coloumn {
		margin-top: 32px;
		width: 100%;
		padding: 8px 16px;
	}
	.email{
		margin-top: 0;
	}
	.contact-form .main-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
	}
	.contact-form .main-row input {
		margin: 16px auto;
	}
	.contact-form textarea {
		width: 80%;
	}
	
}