html {
  scroll-behavior: smooth;
}
body {
	background-color: #f0f0f0;
	width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
}
/* Header */

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80px;
	list-style-type: none;
}
.header li{
        padding: 0 16px;
}
.header li a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
}
.header li a:active{
	border-bottom: 2px solid #000000;
	padding-bottom: 4px;
}
/* Footer */
.footer {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    height: 120px;
	padding: 16px 8px;
	box-sizing: border-box;
}
.footer .social {
	display: flex;
	flex-direction: row;
}
.footer .social:first-child{
	padding-left: 64px;
}
.footer .social a {
	color: #5E5E5E;
	font-size: 26px;
	text-decoration: none;
	padding: 8px;
}
.footer .copy{
	font-size: 11px;
	text-align: center;
	color: #000000;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
}

/* About */
.about {
	height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-background {
    background-image: url(../img/about/about.png);
    height: calc(100vh - 100px);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.about-content{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 16px 32px;
	height: 100vh;
	box-sizing: border-box;
	margin-top: 200px;
}
.about-content-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* width: 40%; */
	padding-left: 64px;
}
.about-content-info p {
	font-size: 14px;
	color: #000000;
}
.about-content-info .title {
	font-size: 20px;
	font-weight: 600;
	color: #fa5c17;
	padding-top: 8px;
	padding-bottom: 16px;
}
/* Contact */
.hire-background {
	background-image: url(../img/hire/hire.png);
	/* height: calc(130vh); */
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.hire-header {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 70%;
}
.hire-header .intro {
	color: #000000;
	font-family: SegoeUI;
	font-size: 14px;
	text-align: center;
	color: #000000;
	padding-top: 32px;
	padding-bottom: 32px;
}
.hire-main {
	display: flex;
	justify-content: space-around;
}
.hire-main .hire-main-content{
	font-size: 14px;
	color: #000000;
	text-align: left;
}
.hire-main .hire-main-content .title{
	font-size: 15px;
	font-weight: bold;

}
.hire-main img{
	
}
.hire-form-title{
	padding: 16px 24px;
	background: #ff4d00;
	border-radius: 30px;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
.hire-form {
	width: 45%;
}
.hire-form .main-row{
	display: flex;
	padding-top: 32px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.hire-form input {
	border-radius: 20px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
	width: 300px;
	outline: none;
}
.hire-form  input::placeholder{
	color: #9b9b9b;
	font-size: 14px;
}
.hire-form textarea{
	width: 100%;
    height: 132px;
    border-radius: 15px;
    border: none;
	padding: 8px 8px;
	resize: none;
	box-sizing: border-box;
	outline: none;
}
.submit-post{
	padding: 16px 24px;
	background: #ff4d00;
	border: 5px solid #ef3200;
	border-radius: 30px;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 107px;
	outline: none;
}
.main-row.btn {
	justify-content: center;
	box-shadow: none;
}
/* Job */
.job-header {
	background-color: #22223f;
	display: flex;
	flex-direction: column;
    justify-content: center;
	padding: 8px 32px 0 32px;
}
.job-header span{
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	min-width: 84px;
	text-align: center;
}
.job-header input {
	border-radius: 24px;
	background-color: #ffffff;
	padding: 8px 16px;
	border: none;
	margin: 32px 0;
	box-sizing: border-box;
	outline: none;
}
.job-header .job-header-tab span{
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.job-header-tab {
	display: flex;
    width: 50%;
	justify-content: space-between;
	padding-bottom: 16px;
}
.subcategory {
	display: flex;
	justify-content: flex-start;
	padding: 16px 0 24px;
}
.subcategory span {
	border-radius: 22px;
	padding: 12px 24px;
    box-sizing: border-box;
	margin: 0 30px 0 0;
	background: #454195;
    width: 160px;
    text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}
.subcategory span:hover, .subcategory span:active, .specialism span:hover, .specialism span:active {
	background: #ffffff;
	color: #454195;

}
.specialism {
	display: flex;
	justify-content: flex-start;
	padding: 16px 0 24px;
	border: none;
}
.specialism span {
	border-radius: 22px;
	border: 2px solid #454195;
	padding: 12px 24px;
	box-sizing: border-box;
	margin: 0 30px 0 0;
	width: 160px;
    text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}

.job-main-card {
	background: #f0f0f0;
	display: flex;
	flex-direction: column;
}
.job-card{
	display: flex;
    flex-direction: row;
    padding: 16px 32px;
    margin: 16px 0;
	background-color: #ffffff;
	box-sizing: border-box;
	height: 200px;
	justify-content: center;
	/* align-content: center;
	align-items: center; */
}
.main-title {
	border-right: 1px solid #fa5c17;
	padding: 0 32px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-title .head{
	width: 221px;
	height: 95px;
	font-family: SegoeUI;
	font-size: 29px;
	font-weight: 600;
	letter-spacing: normal;
	color: #fa5c17;
}
.main-title span {
	font-family: SegoeUI;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.main-info {
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
	padding-right: 32px;
	box-sizing: border-box;
}
.main-cost {
	display: flex;
    flex-direction: column;
    line-height: 2;
	justify-content: center;
	padding: 12px;
    box-sizing: border-box;
}
.main-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 16px;
}
.btn-view{
	border-radius: 22px;
    background-color: #454195;
    padding: 8px 32px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.btn-apply{
	border-radius: 22px;
    background-color: #fa5c17;
    padding: 8px 32px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.contact-background {
	background-image: url(../img/contact/contact.png);
    height: calc(100vh);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact-info{
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
	height: 50vh;
}
.contact-info .coloumn{
	display: flex;
	flex-direction: column;

}
.contact-info .coloumn .location {
	font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	color: #fa5c17;
	padding-bottom: 24px;
	display: flex;
}
.circle {
    width: 16px;
    height: 16px;
    background: #fa5c17;
    border-radius: 50%;
    margin: auto 8px;
    padding: 4px 8px;
}

.contact-info .coloumn .address, 
.contact-info .coloumn .phone{
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	color: #000000;
	padding-bottom: 8px;
}
.email {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.email span {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fa5c17;
	padding-left: 4px;
}
.email a {
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	padding-left: 4px;
}
.contact-form {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.contact-form .main-row{
	display: flex;
	padding-top: 32px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contact-form .main-row.btn{
	justify-content: center !important;
}
.contact-form input {
	border-radius: 20px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
	width: 300px;
	outline: none;
}
.contact-form  input::placeholder{
	color: #9b9b9b;
	font-size: 14px;
}
.contact-form textarea{
	width: 100%;
    height: 132px;
    border-radius: 15px;
    border: none;
	padding: 8px 8px;
	resize: none;
	box-sizing: border-box;
	outline: none;
}
.contact-post{
	padding: 8px 32px;
	background: #ff4d00;
	border: 5px solid #ef3200;
	border-radius: 30px;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 107px;
	outline: none;
}