html {
  scroll-behavior: smooth;
}
body {
	background-color: #f0f0f0;
	width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
}
/* Header */

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    align-content: center;
	list-style-type: none;
	height: 90px;
    margin-bottom: 32px;
}
.header li{
        padding: 0 16px;
}
.header li a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
}
.header li a:active{
	border-bottom: 2px solid #000000;
	padding-bottom: 4px;
}
.nav-mobile{
	display: none;
}
/* Footer */
.footer {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    height: 120px;
	padding: 16px 8px;
	box-sizing: border-box;
}
.footer .social {
	display: flex;
	flex-direction: row;
}
.footer .social:first-child{
	padding-left: 64px;
}
.footer .social a {
	color: #5E5E5E;
	font-size: 26px;
	text-decoration: none;
	padding: 8px;
}
.footer .copy{
	font-size: 11px;
	text-align: center;
	color: #000000;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
}


/*  Header  & Footer For Mobile */

@media screen and (max-width: 818px) {
	.footer{ 
		display: none;
	}
	.header {
		display: none;
	}
	.nav-mobile{
		height: 60px;
		width: 60px;
		background-color: #fff;
		margin: 15px;
		color: #ff4d00;
		border-radius: 500px;
		float: left;
		border: none;
		box-shadow: 0 7px 20px rgba(0,0,0,.15);
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		cursor: pointer;
		z-index: 99999999;
	}
	#header-mobile{
		background: #000000;
		color: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100vh;
		/* padding-top: 64px; */
		/* padding-bottom: 64px; */
		position: fixed;
		z-index: 9999;
		width: 100%;
		
	}
	#header-mobile li{
		padding: 8px 16px;
		list-style-type: none;
	}
	#header-mobile li a {
		color: #ffffff;
		text-decoration: none;
		font-size: 18px;
	}
	#header-mobile li a:active{
		border-bottom: 2px solid #ffffff;
		padding-bottom: 4px;
	}

	#header-mobile .social {
		display: flex;
		flex-direction: row;
		padding-top: 8px;
	}
	#header-mobile .social:first-child{
		padding-left: 64px;
	}
	#header-mobile .social a {
		color: #ffffff;
		font-size: 30px;
		text-decoration: none;
		padding: 8px;
	}
	/* Landing */ 
	.landing-background .nav-mobile, .job .nav-mobile {
		position: absolute;
	}
}

.right {
	margin-right: 16px;
}
.left {
	margin-left: 16px;
}